@import url("./normalize.css");
@font-face {
    font-family: "Josefin Sans";
    src: url("./JosefinSans-VariableFont_wght.ttf") format("truetype");
}

body {
    /* cubrir todo el fondo con la imagen, recortando la misma en caso de no coincidir con el tamaño de la pantalla */
    background: url("./bg2.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5rem;
    overflow-x: hidden;
    transition: background-color 0.5s, color 0.5s;
}

.section    {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

.section_header {
    padding-bottom: 2%;
}

.div_logo {
    background: #BACCBA;
    border: 3px solid #121212;
    border-radius: 50px;
    margin: 2.5%;
    padding: 2.5% 5% 2.5% 5%;
    width: 100%;
}

.logo {
    width: 64px;
}

.title {
    font-size: 4rem;
}

.section_div {
    align-items: center;
    background-color: #F1F1F1;
    border: 3px solid #121212;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2%;
    padding-top: 2%;
    width: 60%;
}

.section_div_div1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2%;
    padding-top: 2%;
    width: 100%;
}

.section_div_div1 span {
    font-size: 2rem;
}

.amount {
    border: 2px solid #121212;
    border-radius: 20px;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    width: 400px;
}

.section_div_div2_div1 .tax-row {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.tax-row .tax-amount {
    color: #121212;
    font-size: 1.75rem;
    font-weight: bold;
}

.section_div_div2_div1 span select  {
    border: 2px solid #121212;
    border-radius: 20px;
    font-size: 1.5rem;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    width: 275px;
}

.section_div_div2_div2, 
.section_div_div2_div3  {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.withoutTax, .withTax {
    font-size: 1.5rem;
    font-weight: bold;
}

.totalWithoutTax, .totalTax {
    color: #9A9A9A;
    font-weight: bold;
    font-size: 1.75rem;
}

.section_div_div2_div4 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 2.5%;
}

.infoDolar {
    font-size: 1rem;
    font-weight: bold;
}

.div_addToCartBtn {
    display: flex;
    justify-content: center;
    padding-top: 3%;
}

#addToCartBtn {
    background: #BACCBA;
    border: 0px solid #12121200;
    border-radius: 50px;
    color: #121212;
    font-weight: bold;
    padding: 3%;
}

.cartContainer  {
    align-items: center;
    background: #F1F1F1;
    border: 3px solid #121212;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3% 0% 0% 0%;
    padding: 0% 0% 2% 0%;
    width: 60%;
}

.cartContainer h3 {
    color: #121212;
    font-size: 1.75rem;
    font-weight: bold;
    margin: 3% 0% 0% 0%;
}

#cartItemsList  {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0% 5% 0% 5%;
    width: 100%;
}